body {

}

#wrapper {
  max-width: 800px;
  margin: auto;
}

nav {
  background-color: #FFB4B0;
  width: 796px;
  height: 55px;
  border: 2px solid black;
  margin-bottom: 15px;
  padding-top: 8px;
}

nav ul li{
  display: inline;
  padding-right: 10px;
}

ul{
  list-style-type: none;
}
ul li {
  display: inline;
  padding-right: 10px;
}

h2 {
  margin:5px 0 0 40px;
}

.stopleft {
  margin-right: 0px;
}

.left-container {
  float: left;
  background-color: #4DD7FA;
  width: 175px;
  height: 367px;
  border: 2px solid black;
}

.right-container {
  float: right;
  background-color: #FEFAC0;
  width: 600px;
  /*height: 315px;*/
  border: 2px solid black;
  padding: 0 0 10px 10px;
}

p {
  margin: 5px;
}

.pad {
  margin-left:5px;
}


.spacing {
  margin: 10px;
}

button {
  width: 100px;
  margin-left: 33px;
}


